{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QA</title>
    {% comment %} <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    {% tailwind_css %}
</head>
<body class="overflow-x-hidden overflow-y-auto p-0">
    {% csrf_token %}
    {% block content %}{% endblock  %}
    {# Your custom static files #}
    {% block extra_js %}
    {% comment %} <script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js" crossorigin></script> {% endcomment %}
        {# JavaScript imports #}
        <script defer 
                src="{% static 'js/project.js' %}"
                type="module"
                onerror="console.error('Failed to load project.js')">
        </script>
    {% endblock %}
</body>
</html>