{% extends "base.html" %}

{% block content %} 
<a class="float-right mx-4 bg-[#C4D9FF] py-2 px-4 rounded-md font-bold " href="{% url 'create_question' %}">Create Question</a>
<div class="gap-4 max-w-[450px] mx-auto mt-4 pt-12">
    <h1 class="text-center font-bold text-xl sm:text-2xl md:text-3xl lg:text-[2.5em] mt-2 sm:mt-3 md:mt-4 mb-2 sm:mb-3 md:mb-4">Question and Answer</h1>
    <div class="card bg-[#E8F9FF] text-primary-content min-w-[450px] max-w-[450px] drop-shadow-lg">
        <div class="card-body">
            <p id="question-text"></p>
        </div>
    </div>
<div class="w-full max-w-[450px] p-4">
        <h2 class="mb-4 mt-4 font-bold">Choices:</h2>
        <div class="grid grid-cols-2 gap-x-6 gap-y-2 px-2">
            {% comment %} <label class="flex items-center space-x-2 cursor-pointer border-2 border-solid border-green-500 min-w-[200px] min-h-[50px] p-4 rounded">
                <input type="radio" name="radio-10" class="radio checked:bg-green-500" checked/>
                <span class="label-text">0.05</span>
            </label>
            <label class="flex items-center space-x-2 cursor-pointer border-2 border-solid min-w-[200px] min-h-[50px] p-4 rounded">
                <input type="radio" name="radio-10" class="radio checked:bg-black" />
                <span class="label-text">21</span>
            </label>
            <label class="flex items-center space-x-2 cursor-pointer border-2 border-solid min-w-[200px] min-h-[50px] p-4 rounded">
                <input type="radio" name="radio-10" class="radio checked:bg-black" />
                <span class="label-text">13.2</span>
            </label>
            <label class="flex items-center space-x-2 cursor-pointer border-2 border-solid min-w-[200px] min-h-[50px] p-4 rounded">
                <input type="radio" name="radio-10" class="radio checked:bg-black" />
                <span class="label-text">264</span>
            </label> {% endcomment %}
        </div>
        <div class="flex justify-end mt-4">
            <button id="check-cta"
            class="bg-[#C5BAFF] px-6 py-2 rounded-lg font-semibold hover:bg-[#968CCA]">Check</button>
        </div>
    </div>
    <div class="container mt-2 hidden" id="explanation-container">
        <h2 class="font-bold text-lg mb-4">Explanation</h2>
        <div id="explanation" class="whitespace-pre-wrap">

        </div>
        <div id="steps" class="mt-4 p-4">
            {% comment %} <div id="step-1" class="p-2 my-2">
                <h3 class="font-semibold">Step Title 1: Do nothing here</h3>
                <img src="https://d12lqqa1y5u348.cloudfront.net/images/Picture1.png" alt="image of something here"  class="w-full" />
                <p class="my-4">Result Title 1</p>
            </div>
            <div id="step-2" class="p-2 my-2">
                <h3 class="font-semibold my-2">Step Title 2: Do nothing here</h3>
                <img src="https://d12lqqa1y5u348.cloudfront.net/images/elementor-placeholder-image.webp" alt="image of something here"  class="w-full" />
                <p class="my-4">Result Title 2</p>
            </div> {% endcomment %}
        </div>
    </div>

</div>
{% endblock %}